
IO/Assemble_Data.txt
.vs/Muscles/v16/.suo
IO/Assemble_Result.txt
IO/NonLinearSolve_Data.txt
IO/NonLinearSolve_Result.txt
Muscles/bin/Muscles.gha
Muscles/bin/Muscles.pdb
Muscles/obj/Debug/Muscles.pdb
Muscles/obj/Debug/Muscles.dll
Muscles/obj/Debug/Muscles.csprojAssemblyReference.cache
Muscles/obj/Debug/Muscles.csproj.FileListAbsolute.txt
Muscles/obj/Debug/Muscles.csproj.CoreCompileInputs.cache
MusclesPy/__pycache__/StructureObj.cpython-37.pyc
Logs/LogFile.txt
MusclesPy/.idea/vcs.xml
Muscles/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Muscles/obj/Debug/Muscles.csproj.CoreCompileInputs.cache
Muscles/obj/Debug/Muscles.pdb
Muscles/bin/Muscles.pdb
Muscles/obj/Debug/Muscles.csprojAssemblyReference.cache
Muscles/obj/Debug/Muscles.pdb
IO/AssembleData.txt
IO/DynamicRelaxationData.txt
IO/NonLinearSolveResult.txt
Muscle/.vs/Muscle/DesignTimeBuild/.dtbcache.v2
Muscle/.vs/Muscle/DesignTimeBuild/.dtbcache.v2
Muscle/.vs/Muscle/v17/.suo
Muscle/.vs/Muscle/FileContentIndex/a6ff0740-3aa2-4325-8685-33843237a7ca.vsidx
Muscle/.vs/Muscle/DesignTimeBuild/.dtbcache.v2
/Muscle/.vs
